/* palette

green: #1ED760
black: #040404

 */

 body {
   margin: 0px;
   padding: 0px;
 }

 p, a, h1, h2, h3, h4, h5, h6 {
   font-family: 'Inter', sans-serif;
 }


/* ------------------------- left part ------------------------- */
#base-left-navigation {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #040404;
}

#logo-link {

}

#logo-link img {
  height: 50px;
  margin-top: 25px;
  margin-left: 25px;
}

#left-navbar-main-links {
  border: 1px solid transparent;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

#left-navbar-main-links a {
  display: block;
  width: 100%;
  color: #B3B3B3;
  text-decoration: none;
  background-color: transparent;
  margin: 3px 0px;
  padding: 8px 0px;
  border-radius: 5px;
}

#left-navbar-main-links a:hover {
  transition: 0.2s;
  color: white;
}

#left-navbar-main-links a span {
  margin-right: 10px;
  margin-left: 15px;
  font-size: 22px;
  vertical-align: middle;
}

.active-main-link {
  background-color: #282828 !important;
  color: white !important;
}

#playlist-links {
  border: 1px solid transparent;
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
}

#playlist-links h3 {
  color: #B3B3B3;
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

#main-playlist-link {
  margin-bottom: 10px;
}

#main-playlist-link a {
  color: #B3B3B3;
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;
  font-size: 15px;
  width: 100%;
  display: block;
  margin-bottom: 0px;
}

#main-playlist-link a:hover {
  transition: 0.2s;
  color: white;
}

#main-playlist-link a span {
  background-color: #B3B3B3;
  color: black;
  padding: 8px 10px;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 16px;
}

#liked-songs-main-link span {
  padding: 8px !important;
  background: #4568DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}

#horizontal-left-nav-line {
  border-bottom: 1px solid #282828;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#playlists-list {
  border: 1px solid transparent;
  width: 90%;
  margin: 0 auto;
  height: 180px;
  margin-bottom: 90px;
  overflow-y: scroll;
}

#playlists-list a {
  color: #B3B3B3;
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;
  font-size: 14px;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

#playlists-list a:hover {
  transition: 0.2s;
  color: white;
}

/* ------------------------- right part ------------------------- */
#base-right-part {
  border: 0px solid black;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-bottom: 90px;
  margin-left: 250px;
  overflow-y: scroll;
  background-color: #131313;
}

/* ------------------------- bottom part ------------------------- */
#base-bottom-part {
  position: fixed;
  z-index: 999;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #282828;
  height: 90px;
  border: 1px solid black;
  text-align: center;
}

#base-bottom-left-box {
  width: 32%;
  border: 1px solid transparent;
  display: inline-block;
  height: 80px;
  margin-top: 4px;
  vertical-align: top;
  text-align: left;
}

#now-playing-img {
  background-color: grey;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 0px;
  vertical-align: middle;
  margin-top: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../test/test.jpg");
  background-size: cover;
}

#now-playing-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

#now-playing-info p {
  margin: 0px;
  color: white;
  font-size: 13px;
  margin-top: 10px;
}

#now-playing-info a {
  display: block;
  margin: 0px;
  text-decoration: none;
  color: #B3B3B3;
  font-size: 12px;
  margin-top: 2px;
}

#now-playing-info a:hover {
  color: white;
  text-decoration: underline;
}

#base-bottom-left-box form {
  float: right;
  margin-top: 20px;
  margin-right: 70px;
}

#base-bottom-left-box form input {
  background-color: transparent;
  border: 0px;
  font-size: 25px;
  color: #B3B3B3;
}

#base-bottom-left-box form input:hover {
  cursor: pointer;
}

#base-bottom-middle-box {
  width: 32%;
  border: 1px solid transparent;
  display: inline-block;
  height: 80px;
  margin-top: 4px;
  vertical-align: top;
}

#base-bottom-top-box {
  text-align: center;
  padding-top: 8px;
}

#base-bottom-top-box button {
  font-size: 15px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #B3B3B3;
  display: inline-block;
  margin: 0px 7px;
  vertical-align: middle;
}

#play-btn {
  font-size: 35px;
  vertical-align: middle;
}

#base-bottom-top-box button:hover {
  color: white;
  cursor: pointer;
}

#base-bottom-bottom-box {

}

#base-bottom-bottom-box p {
  display: inline-block;
  margin-top: 0px;
  color: #B3B3B3;
  font-size: 11px;
}

#music-progress-bar {
  display: inline-block;
  vertical-align: middle;
  height: 4px;
  background-color: grey;
  border-radius: 5px;
  width: 75%;
}

#base-bottom-right-box {
  width: 32%;
  border: 1px solid transparent;
  display: inline-block;
  height: 80px;
  margin-top: 4px;
  vertical-align: top;
  padding-top: 30px;
  text-align: right;
}

#base-bottom-right-box a {
  display: inline-block;
  color: #B3B3B3;
  margin-right: 20px;
}

#base-bottom-right-box p {
  margin: 0px;
  vertical-align: middle;
  display: inline-block;
  color: #B3B3B3;
}

#sound-bar {
  display: inline-block;
  vertical-align: middle;
  height: 4px;
  background-color: grey;
  border-radius: 5px;
  width: 150px;
  margin-left: 10px;
  margin-right: 20px;
}

/* ######################### MOBILE ################################# */

/* --------------- mobile bottom nav -------------------- */

#mobile-bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border: 1px solid black;
  background-color: #282828;
  display: none;
}

#mobile-bottom-navigation a {
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 32%;
  color: #B3B3B3;
}

#mobile-bottom-navigation a:hover {
  color: white;
}

#mobile-bottom-navigation a span {
  display: block;
  font-size: 9px;
}

#bottom-nav-icon {
  font-size: 20px !important;
  margin-bottom: 2px;
  margin-top: 7px;
}


/* --------------- mobile small player  -------------------- */
#playing-song-small-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border: 1px solid black;
  background-color: #282828;
  z-index: 9;
  margin-bottom: 50px;
  border-top: 2px solid #B3B3B3;
  display: none;
}

#playing-song-small-panel:hover {
  cursor: pointer;
}

#mobile-small-player-song-img {
  background-color: grey;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 0px;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../test/test.jpg");
  background-size: cover;
}

#mobile-small-player-song-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  border: 1px solid transparent;
}

#mobile-small-player-song-info p {
  margin: 0px;
  color: white;
  font-size: 13px;
  margin-top: 7px;
}

#mobile-small-player-song-info a {
  display: block;
  margin: 0px;
  text-decoration: none;
  color: #B3B3B3;
  font-size: 12px;
  margin-top: 2px;
}

#mobile-small-player-operations {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  border: 1px solid transparent;
  margin-top: 7px;
}

#mobile-small-player-operations form {
  display: inline-block;
}

#mobile-small-player-operations form input {
  background-color: transparent;
  font-size: 23px;
  color: #B3B3B3;
  border: 0px;
}

#mobile-small-player-operations button {
  display: inline-block;
  background-color: transparent;
  font-size: 19px;
  color: #B3B3B3;
  border: 0px;
  margin-right: 5px;
}

/* --------------- mobile big player -------------------- */
#hidden-playing-song-bigger-panel {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: fixed;
  z-index: 999;
  top:0;
  bottom: 0;
  left: 0;
  right:0;

  display: none;
}

#song-bigger-panel-top-part {
  border: 1px solid transparent;
  width: 85%;
  margin: 0 auto;
  height: 30px;
  margin-top: 10px;
  text-align: center;
}

#song-bigger-panel-top-part button {
  background-color: transparent;
  border: 0px;
  color: white;
}

#song-bigger-panel-top-part button:focus {
  outline: none;
}

#hidden-song-panel-close-btn {
  float: left;
  font-size: 25px;
  margin-left: 7%;
}

#mobile-hidden-queue-panel-open-btn {
  float: right;
  margin-top: 7px;
  margin-right: 7%;
}

#playlist-info {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  margin: 0 auto !important;
  z-index: 9;
}

#playlist-info p {
  margin: 0px;
  font-size: 10px;
  color:white;
}

#artist-name {
  font-size: 12px !important;
  color: white;
}

#song-bigger-panel-album-img {
  background-color: grey;
  display: block;
  height: 250px;
  width: 85%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../test/test.jpg");
  background-size: cover;
  margin-top: 35px;
}

#song-bigger-panel-info {
  border: 1px solid transparent;
  width: 85%;
  margin: 0 auto;
  height: 30px;
  margin-top: 45px;

}

#song-bigger-panel-info-left {
  width: 85%;
  height: auto;
  border: 1px solid transparent;
  display: inline-block;
  vertical-align: top;
}

#song-bigger-panel-info-left p {
  color: white;
  font-size: 14px;
  margin: 0px;
}

#song-bigger-panel-info-left a {
  display: block;
  margin: 0px;
  text-decoration: none;
  color: #B3B3B3;
  font-size: 12px;
  margin-top: 2px;
}

#song-bigger-panel-info-right {
  width: 10%;
  height: auto;
  border: 1px solid transparent;
  display: inline-block;
  vertical-align: top;
}

#song-bigger-panel-info-right form {

}

#song-bigger-panel-info-right form input {
  background-color: transparent;
  border: 0px;
  color: #B3B3B3;
  font-size: 27px;
}

#song-bigger-panel-bottom-operations {
  border: 1px solid transparent;
  width: 85%;
  margin: 0 auto;
  height: 30px;
  margin-top: 20px;
}

#song-bigger-panel-top-part {
  width: 100%;
}

#song-bigger-panel-progress-bar {
  display: block;
  height: 4px;
  background-color: grey;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 3px;
}

#mobile-start-time {
  color: white;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  font-size: 11px;
}

#mobile-end-time {
  color: white;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  float: right;
  font-size: 11px;
}

#song-bigger-panel-bottom-part {
  width: 100%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  margin-top: 10px;
}

#song-bigger-panel-bottom-part button {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  font-size: 20px;
  margin: 0px 8px;

}

#song-bigger-panel-bottom-part button:focus {
  outline: none;
}

/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {

  /* ------------------------- left part ------------------------- */
  #base-left-navigation {
    display: none;
  }

  /* ------------------------- right part ------------------------- */
  #base-right-part {
    border: 0px solid black;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 100px;
    margin-left: 0px;
  }

  /* ------------------------- bottom part ------------------------- */
  #base-bottom-part {
    display: none;
  }


  /* --------------- mobile   -------------------- */
  #playing-song-small-panel {
    display: block;
  }

  #mobile-bottom-navigation {
    display: block;
  }



}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
  /* ------------------------- left part ------------------------- */
  #base-left-navigation {
    display: none;
  }

  /* ------------------------- right part ------------------------- */
  #base-right-part {
    border: 0px solid black;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 100px;
    margin-left: 0px;
  }

  /* ------------------------- bottom part ------------------------- */
  #base-bottom-part {
    display: none;
  }


  /* --------------- mobile   -------------------- */
  #playing-song-small-panel {
    display: block;
  }

  #mobile-bottom-navigation {
    display: block;
  }



}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {
  /* ------------------------- left part ------------------------- */
  #base-left-navigation {
    display: none;
  }

  /* ------------------------- right part ------------------------- */
  #base-right-part {
    border: 0px solid black;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 100px;
    margin-left: 0px;
  }

  /* ------------------------- bottom part ------------------------- */
  #base-bottom-part {
    display: none;
  }


  /* --------------- mobile   -------------------- */
  #playing-song-small-panel {
    display: block;
  }

  #mobile-bottom-navigation {
    display: block;
  }

}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {


}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* nothing for now */
}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* nothing for now */
}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {

}
