{% extends 'base.html' %}
{% load static %}

{% block css_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/artist/artist_page.css' %}" />
{% endblock %}

{% block content %}

<!-- top navigation -->

<!-- top banner -->
<div id="top-banner">
  <div id="top-banner-info">
    <h1>Nick Cave</h1>
    <p>1522 monthly listeners</p>
  </div>
</div>

<!-- play button -->
<div id="play-button">
  <button><span class="fa fa-play"></span></button>
</div>


<!-- popular songs -->

<!-- featuring the artist -->

<!-- albums and their songs -->

<!-- fans also like -->

<!-- about -->



{% endblock %}
